@import 'tailwindcss/tailwind.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


body, html {
  @apply font-poppins;
  overflow: hidden;
}

.fade-out-hr {
  background: radial-gradient(circle, white 0%, transparent 70%);
  background-color: white;
}

.dimension-btn-container {
  @apply flex items-center justify-center p-1 rounded-full bg-gray-300 backdrop-blur ml-3 gap-1
}

.dimension-btn {
  @apply w-10 h-10 text-sm flex justify-center items-center bg-white text-black rounded-full transition-all
}

.truncate-text {
  white-space: nowrap; 
  overflow: hidden;    
  text-overflow: ellipsis; 
}

.hero2D {
  flex-direction: row;
  display: flex;
  justify-content: center;
  height: 70vh;
  margin-top: 2em;
  min-height: 60%;
}

.albumContainer {
  height: 100%;
  width: auto;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 2em;
  flex-basis: auto; 
  flex-grow: 0;
  flex-shrink: 0; 
}

.albumContainer img {
  border-radius: 5%;
  max-width: 100%;
  max-height: 100%;
  object-fit: scale-down;
}

.songInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 2;
  flex-shrink: 3;
  margin-right: 2em;
  max-width: 60%; 
}

.songName {
  max-width: 100%; 
}

.artistContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5em;
  margin-top: 1em;
  max-width: 100%;
}

.artistAlbumInfo {
  display: flex;
  align-items: center;
  flex-shrink: 1;
  max-width: 100%;
}



.player {
  position: fixed;
  height: 100%;
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

/* Home page */

.footer {
  left: 0;
  bottom: 0;
  width: calc(100% - 2rem); 
  margin: 1rem; 
  background: #212121;
  padding: 1rem; 
  border-radius: 1rem; 
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box; 
}

.Links {
  margin-right: 2em;
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

.Links .unavailable {
  text-decoration: line-through;
  text-decoration-color: #40a344;
  text-decoration-thickness: 0.2em;
  text-decoration-style: wavy;
}

.home {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-end;
}

/* button */
.flexButtonContainer {
  flex-grow: 2;
  flex-shrink: 2;
  display: flex;
  position: fixed;
  justify-content: center; 
  align-items: center; 
  height: 100%; 
  width: 100vw; 
  margin: 0; 
}

.glowing {
  margin: 100px;
  padding: 15px 40px;
  border: none;
  outline: none;
  color: #FFF;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
  user-select: none; 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.glowing::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #56d757;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.glowing::before {
  content: "";
  background: linear-gradient(
    45deg,
    #56d757,
    #4caf51,
    #00c1c8,
    #667fc4,
    #80e27e,
    #56d7a6,
    #4caf51,
    #56d757 
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease; 
  border-radius: 10px;
  opacity: 0;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.glowing:hover::before {
  opacity: 1;
  transform: scale(1.1);
}

.glowing:hover {
  transform: scale(1.1);
}

.glowing:active::after {
  background: transparent;
}

.glowing:active {
  color: #000;
  font-weight: bold;
}

.glowing:hover .Spotify {
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #56d757, 0 0 20px #56d757, 0 0 25px #56d757, 0 0 30px #56d757, 0 0 35px #56d757;
}

.truncate-text {
  white-space: nowrap;
  overflow: hidden;    
  text-overflow: ellipsis;
}